# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.runtimeconfig.json
serviceAccount.json
client_secret_908464081209-j6m6rnmhpq9sbm120ad7br71f9fhrf8d.apps.googleusercontent.com.json
joelholmbergdotcom-271104-ae1386269ac3.json
*.pem
*.vim
.env
# dependencies
/node_modules
/.pnp
.pnp.js

next.config.js
# testing
/coverage
/ui_images
.next
.next/
/.next/
/next
/next/
next
# next.js
/out/
/public
# production
/build

# misc
.DS_Store
*.pem
.firebase/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
